extends ../layout

block title
    = `Twitter Clone Application - Login`

block content
    h1.title Twitter Login
        form(action="/twitter/users/session",method="POST")
            .field
                .control
                    input.input(name="username")
            .field
                .control
                    input.input(name="password")
            .field
                .control
                    button.button.is-link.is-fullwith login