extends ../layout

block title 
    = `Twitter`

block content
    h1.title Twitter
        form(action="/twitter/new",method="GET")
                .field
                    .control
                        button.button.is-link.is-fullwidth Tweet
    #search-box.field  

        .field                 
            form(action="/twitter/search",method="POST")
                .field
                    .control    
                        input.input(name="q")
                .field
                    .control
                        button.button.is-link.is-fullwidth Search


    #list
        .columns
            - for (var i = 0; i < tweets.length; i ++)
                    .column           
                        a(href = `/twitter/tweets/check/${tweets[i].username}/${tweets[i].id}`)
                            .card
                                header.card-header
                                        p.card-header-title
                                            | message :
                                            = tweets[i].tweet  
                                            br
                                            | time :
                                            = tweets[i].createdAt 
                                            br 
                                            | by :
                                            = tweets[i].username                